# EAS Build ignore
# Because this project is in a monorepo workspace, paths are evaluated from the repo root!
**/node_modules/
**/.expo/
**/dist/
**/web-build/
**/*.jks
**/*.p8
**/*.p12
**/*.key
**/*.mobileprovision
**/*.orig.*
**/.kotlin/
**/ios/
**/android/

# Ignore ALL root-level backend and frontend folders completely
backend/
frontend/
.venv/
.git/
src/
assets/
db.sqlite3
*.h5
*.data-*
*.index
checkpoint
