# Strict Root Ignore
# This specifically stops the internal project modules from being uploaded
frontend_rn/node_modules/

# Ignore backend and other root folders
backend/
frontend/
node_modules/
.venv/
.git/
src/
assets/

# Root package files
package.json
package-lock.json
App.js
db.sqlite3
animal_classification_model.h5
*.data-*
*.index
checkpoint
